@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

html,
body {
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%
}

body {
  background-color: #ccc;
  color: #d0d0d0;
}
