.events-search {
  max-width: 1020px;
  min-height: 100%;

  background-color: #e4e4e4;
  margin: 0 auto;
  padding: 20px 0;

  .page-loader {
    text-align: center;
    padding: 50px 0;
  }

  & > .event {
    margin: 10px 10px;
  }
}
